<div class="carousel carousel-animated carousel-animate-slide">
    <div class="carousel-container">
        <div class="carousel-item has-background is-active">
            <img class="is-background" src="../images/m0302_01.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_02.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_03.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_04.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_05.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_06.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_07.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_08.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_09.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_10.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_11.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_12.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_13.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_14.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_15.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_16.png" />
        </div>
        <div class="carousel-item has-background">
            <img class="is-background" src="../images/m0302_17.png" />
        </div>
    </div>
    <div class="carousel-navigation">
        <div class="carousel-nav-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>